.sensor-frame {
    color: white;
    position: absolute;
    z-index: 0;
    right: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
    margin: 0 auto;
    padding: 16px;
    transform: translate(-50%, -50%);
}

.log-p {
    position: absolute;
    z-index: 0;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    scroll-behavior: smooth;
}