$main-text: #00a8ba;
$main-frame: #00a8ba;

$light: #33b9c7;
$main: #00a8ba;
$dark: #007582;

$brand-text: #000;
$brand-light: #d4495f;
$brand: #ca1c37;
$brand-dark: #8d1326;

$dark-accent: #09041f;

$content-bg: rgba(#03151f, .8);